{% extends "base.html" %}
{% load static %}
{% load mytags %}
{% load widget_tweaks %}

{% block content %}
	<div class="container-md center">
		{% if form.instance.submit and not form.errors %}
			<div class="alert alert-primary" role="alert">
				You have submitted your ballot. Thanks for judging!
			</div>
		{% endif %}

		{% if form.errors %}
			{% for key, value in form.errors.items %}
				{% if value %}
					<div class="alert alert-danger" role="alert">{{ value }}</div>
				{% endif %}
			{% endfor %}
		{% endif %}

		{% for section in section_forms%}
			{% for subsection_form in section %}
				{% if subsection_form.errors %}
					{% for key, value in subsection_form.errors.items %}
						{% if value %}
							<div class="alert alert-danger" role="alert">{{ value }}</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}
		{% endfor %}


		<h3>Ballot</h3>
		<div class="row">
			<div class="card-group my-3">
				<div class="card border gx-2">
					<h5 class="card-header">
						Round Info
					</h5>
					<div class="card-body text-start">
						<ul class="list-group">
							<li class="list-group-item"> {{ object.round }}</li>
							<li class="list-group-item">Division: {{ object.round.pairing.division }}</li>
							<li class="list-group-item">Judge Name: {{ object.judge }}</li>
							<li class="list-group-item">
								{% if object.judge == object.round.presiding_judge %}
									You are presiding this round.
									{% if request.user.tournament.presiding_judge_script %}
										<div class="row my-2 px-3">
											<a class="button button-primary"
													href="{{ request.user.tournament.presiding_judge_script }}">
												Presiding Judge Script
											</a>
										</div>
									{% endif %}
								{% else %}
									You are scoring this round.
								{% endif %}
							</li>

							<li class="list-group-item">
								<div>Click for:</div>
								<div class="row my-2 px-3">
									<a class="button button-primary"
										href="{% url 'submission:captains_meeting' object.round.captains_meeting.pk|int_str %}">
									Team Information
									</a>
								</div>
								{% if request.user.tournament.case %}
									<div class="row my-2 px-3">
										<a class="button button-primary"
												href="{{ request.user.tournament.case }}">
											Case
										</a>
									</div>
								{% endif %}
								{% if request.user.tournament.roe %}
									<div class="row my-2 px-3">
										<a class="button button-primary"
												href="{{ request.user.tournament.roe }}">
											Rules of Evidence
										</a>
									</div>
								{% endif %}
								{% if request.user.tournament.zoom_link %}
									<div class="row my-2 px-3">
										<a class="button button-primary"
												href="{{ request.user.tournament.zoom_link }}">
											Zoom Meeting
										</a>
									</div>
								{% endif %}
							</li>
							<li class="list-group-item">Team Information Status:<br>
								{% if object.round.captains_meeting.submit %}
									Submitted
								{% else %}
									Not Submitted
								{% endif %}
							</li>
							<li class="list-group-item"><span class="text-primary">Blue</span> denotes {{request.user.tournament.p_choice}},
								and <span class="text-secondary">Purple</span> denotes Respondent</li>
						</ul>
					</div>
				</div>
				<div class="card border gx-2">
					<h5 class="card-header">
						{{request.user.tournament.p_choice}} Team Info
					</h5>
					<div class="card-body text-start">
							<div class="card-text my-1">Team Name: {{ object.round.p_team }}</div>
							<div class="card-text my-1 ">
								<div class="pb-1">Team Roster:</div>
								<ul class="list-group">
									{% for competitor in object.round.p_team.competitors.all %}
										<li class="list-group-item">{{ competitor }}</li>
									{% endfor %}
								</ul>
							</div>
					</div>
				</div>
				<div class="card border gx-2">
					<h5 class="card-header">
						Respondent Team Info
					</h5>
					<div class="card-body text-start">
						<div class="card-text my-1">Team Name: {{ object.round.d_team }}</div>
							<div class="card-text my-1 ">
								<div class="pb-1">Team Roster:</div>
								<ul class="list-group">
									{% for competitor in object.round.d_team.competitors.all %}
										<li class="list-group-item">{{ competitor }}</li>
									{% endfor %}
								</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 mb-4 gx-2">
			<div class="col-md-4 mb-4 gx-2"></div>
			<div class="col-md-4 mb-4 gx-2"></div>
		</div>

	<form method="post" enctype="multipart/form-data" class="form-inline">
		{% csrf_token %}

		<div class="row g-4 my-2">
			<div class="col-lg-6">
				<div class="card border border-primary h-100">
					<div class="card-header">{{ request.user.tournament.p_choice }}</div>
					<div class="card-body">
						<div class="row g-3">
							{% for pair in speaker_pairs %}
								<div class="col-md-6">
									<div class="card h-100">
										<div class="card-header">
											Speaker {{ pair.speaker_num }}
											{% if pair.P %}: {% get_competitor object.round.captains_meeting.sections pair.P.0.init_subsection %}{% endif %}
										</div>
										<div class="card-body">
											{% if pair.P %}
												{% for subsection_form in pair.P %}
													<div class="row align-items-center my-2">
														<div class="col-8 small">{{ subsection_form.init_subsection.help_text }}</div>
														<div class="col-4">{% render_field subsection_form.score class="form-select" name="score" %}</div>
													</div>
													{% if not forloop.first %}{{ subsection_form.comment.as_hidden }}{% endif %}
												{% endfor %}
												{% if not request.user.tournament.hide_comments %}
													<div class="mt-3">
														<div class="p-1">Comments:</div>
														{{ pair.P.0.comment }}
													</div>
												{% endif %}
											{% endif %}
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card border border-secondary h-100">
					<div class="card-header">Respondent</div>
					<div class="card-body">
						<div class="row g-3">
							{% for pair in speaker_pairs %}
								<div class="col-md-6">
									<div class="card h-100">
										<div class="card-header">
											Speaker {{ pair.speaker_num }}
											{% if pair.D %}: {% get_competitor object.round.captains_meeting.sections pair.D.0.init_subsection %}{% endif %}
										</div>
										<div class="card-body">
											{% if pair.D %}
												{% for subsection_form in pair.D %}
													<div class="row align-items-center my-2">
														<div class="col-8 small">{{ subsection_form.init_subsection.help_text }}</div>
														<div class="col-4">{% render_field subsection_form.score class="form-select" name="score" %}</div>
													</div>
													{% if not forloop.first %}{{ subsection_form.comment.as_hidden }}{% endif %}
												{% endfor %}
												{% if not request.user.tournament.hide_comments %}
													<div class="mt-3">
														<div class="p-1">Comments:</div>
														{{ pair.D.0.comment }}
													</div>
												{% endif %}
											{% endif %}
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- {% render_field form.upload class="form-select" name="upload" %} -->

	{% if request.user.is_judge %}
		<div class="row mb-4">
			<div class="col-md-6 ps-4">
				<div class="card border">
					<div class="card-header">
						Upload PDF Comments
					</div>
					<div class="card-body text-start">
						{% render_field form.upload class="form-control" name="upload" %}
					</div>
				</div>
			</div>
		</div>

		
		<input class="button btn-secondary" type="submit" value="Save"
					style="position:fixed; top: 100px; right: 20px">
		<div class="form-check" style="position:fixed; top: 150px; right: 20px">
			{% render_field form.submit class='form-check-input' name="submit" %}
			<span class="form-check-label"> Submit </span>
		</div>
	{% else %}
		<!-- {% if form.instance.upload %}
			<div class="row">
				<span>View PDF ballot at:</span>
				<a href="{{ form.instance.upload.url }}" download>
					{{ form.instance.upload.name }}
				</a>
			</div>
		{% endif %} -->
	{% endif %}
	{% if form.instance.upload %}
	<div class="row mb-4">
		<div class="col-md-4 ps-4">
			<div class="card border">
				<div class="card-header">
					Download PDF Comments
				</div>
				<div class="card-body text-start text-center">
					<a href="{{ form.instance.upload.url }}" download class="button btn-secondary py-2">
						Click Me
					</a>
				</div>
			</div>
		</div>
	</div>
	{% endif %}

	</form>
</div>
{% endblock content %}


{% block js %}
	<script type="text/javascript" src="{% static 'js/form.js' %}"></script>
{% endblock js %}
