{% extends "base.html" %}
{% load static %}
{% load mytags %}

{% block content %}


	<div class="container-md">
		<table class="table table-striped table-bordered">
			<thead class="table-light">
				<tr>
					<th scope="col">#</th>
					<th>Name</th>
					<th>Total Score</th>
					<th>Team</th>
					{% if request.user.tournament.split_division %}
						<th>Division</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for competitor, score in ranked %}
					<tr>
						<th scope="row">{{ forloop.counter }}</th>
						<td>{{ competitor }}</td>
						<td>{{ score }}</td>
						<td>{{ competitor.team }}</td>
						{% if request.user.tournament.split_division %}
							<td>{{ competitor.team.division }}</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


{% endblock content %}
